<?xml version="1.0" encoding="UTF-8"?>
<packet>
  <extension>
    <call>
      <git>
        <create>
          <domain>{{ domain_name }}<domain>
          <name>{{ repo_name }}</name>
          <remote-url>{{ remote_url }}</remote-url>
        </create>
      </git>
    </call>
  </extension>
</packet>